@font-face{
  font-family: Overgrow;
  src: url('../fonts/Overgrow-Demo.otf');
}


#navbar     {
display: flex;
flex-direction: row;
background-color: transparent;
justify-content: space-between;
align-items: center;
padding: 12px 5px;
margin-top: 25px;
position: fixed;

border: 1px solid transparent;
width: 60vw;
height: 20px;
align-self: center;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-width: 615px;
overflow: visible;

}

#header  {
  display: flex;
  flex-direction: column;
  height: 150vh;
  overflow-x: scroll;
}

.leftul, .rightul {
  
}


.navitm {
  display: inline;
  margin: 0 0 0 3vw;
  font-family: Overgrow;
  color: #DA7041;
  text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
  
}

#logo{
  height: 200px;
 margin: 0;
  padding: 0;
}

.icons  {
  display: inline;
  margin: 0 0 0 10px;
  padding-right: 10px;
}

.iconimgs {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}