@font-face{
  font-family: Overgrow;
  src: url('../fonts/Overgrow-Demo.otf');
}

@font-face{
  font-family: BigNoodle;
  src: url('../fonts/big_noodle_titling.ttf');
}

@font-face{
  font-family: Accelerate;
  src: url('../fonts/Acceleration&Reaction.ttf');
}

.navbar     {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 5px;
margin: 25px auto 0 auto;
position: sticky;
top: 15px;
border: 1px solid transparent;
width: 60vw;
height: 20px;
align-self: center;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-width: 615px;
overflow: visible;
}

.header  {
  display: flex;
  flex-direction: column;
  height: 560px;
  background-color: #141413;
  width: 100%;
  overflow-y: visible;
  margin-top: -75px;
}

.navitm {
  display: inline;
  margin: 0 0 0 3vw;
  font-family: Overgrow, sans-script;
  color: #DA7041;
  text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
}

.logo{
  height: 200px;
 margin: 0;
  padding: 0;
}

.icons  {
  display: inline;
  margin: 0 0 0 10px;
  padding-right: 10px;
}

.iconimgs {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.about {
  margin: 120px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.squareh  {
  margin: 0 0 0 60px;
  font-size: 3rem;
  width: 300px;
  font-family: Overgrow, sans-script;
  color: #DA7041;
  text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
}

.squaredesc {
  margin: 0 60px 0 0;
  width: 400px;
  text-align: justify;
  font-size: 1.4rem;
  color: #EFEFEF;
  line-height: 0.9;
  text-shadow: 0 0 17px rgb(255, 255, 255, 0.6);
  font-family: BigNoodle, sans-script;
}

.pizza  {
  height: 600px;
  width: 680px;
  align-self: center;
}

.menu  {
  height: 40vh;
  background-image: url('../images/customersbg.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dlmenu{
  margin: 260px 0 0 0;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: 0;
  font-family: BigNoodle, sans-script;
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 17px rgb(255, 255, 255, 0.7);
  background-color: #5B0A0C;
}

.customers{
  background-color: #5B0A0C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 500px;
  width: 100%;
}

.squarehv2  {
  margin-top: 75px;
  font-size: 3rem;
  width: 250px;
  height: 200px;
  font-family: Overgrow, sans-script;
  color: #DA7041;
  text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
}

.squaredescv2  {
  text-shadow: 0 0 17px rgb(255, 255, 255, 0.6);
  margin: 80px 0 0 0;
  height: 200px;
  width: 600px;
  text-align: justify;
  font-size: 1.4rem;
  color: white;
  line-height: 1;
  font-family: BigNoodle, sans-script;
}

.contact{
  background-image: url('../images/footerbg.jpg');
  background-size: 100%;
  background-position-y: 60%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-family: Overgrow;
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 17px black;
}

.bottomnav{
display: none;
margin-top: -50px;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: sticky;
bottom: 5px;
}

.botleftul{
  margin-left: 15px;
  padding: 12px 0 0 19px;
  width: 142px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(20, 20, 19, 0.85);
  font-size: 0.9rem;
}

.botrightul{
  margin-right: 15px;
  padding-top: 10px;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(20, 20, 19, 0.85);
}

.botnavitm {
  display: inline;
  padding: 0 20px 0 0;
  font-family: Overgrow, sans-script;
  color: #DA7041;
  text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
}

.boticons  {
  display: inline;
  margin: 0 0 0 10px;
  padding-right: 10px;
}

@media (max-width:960px) {
  .customers  {
   flex-direction: column;
    height: 550px;
    justify-content: space-between;
  align-items: center;
  }
  .squaredescv2{
    margin: 20px 0 20px 0;
  }
  .squarehv2{
    margin-bottom: 10px;
  }
}

@media (max-width:770px) {
  .about {
  margin: 120px 0 0 0;
  flex-direction: column;
  justify-content: center;
    align-items: center;
  }
  
  .squaredesc {
  margin: 20px 0 0 0;
  }
  
  .dlmenu{
  margin: 350px 0 0 0;
  }
}

@media (max-width:630px){
  .navitm, .icons {
   display: none;
  }
  .navbar     {
  justify-content: center;
  width: 0;
  align-self: center;
  min-width: 0;
  }
  
  .bottomnav{
    display: flex;
  }
  
  .squaredescv2{
    font-size: 1.25em;
    width: 500px;
    margin: 20px 0 0 0;
  }
  
  .pizza  {
  height: 400px;
  width: 480px;
  margin-top: 60px;
  }
  
  .dlmenu{
    margin: 320px 0 0 0;
  }
  
}

@media (max-width:520px){
    .pizza  {
  height: 300px;
  width: 380px;
  margin-top: 60px;
  }
  
 .squaredescv2{
    font-size: 1.25em;
    width: 380px;
    margin: 20px 0 40px 0;
  }
  
  .squarehv2{
    font-size: 2em;
     margin-bottom: 0;
    margin-top: 175px;
  }
  
  .squaredesc{
    font-size: 1.4em;
    width: 380px;
  }
}

@media (max-width:400px){
  .squaredesc{
    font-size: 1.2em;
    width: 280px;
  }
  
  .squaredescv2{
    font-size: 1em;
    width: 280px;
    margin: 20px 0 5px 0;
  }
  
  .squarehv2{
    font-size: 2.3em;
     margin-bottom: 0;
    margin-top: 175px;
    width: 280px
  }
  
  .header{
    height: 70vh;
  }
  
  .customers{
    height: 65vh;
  }
  
  .menu{
    height: 50vh;
  }
}