/* variables */
:root{
    --headings: #DA7041;
    --paragraphs: #EFEFEF;
    --bgcolor1: #141413;
    --bgcolor2: #5B0A0C;
    --botnavs: rgba(20, 20, 19, 0.85);
}

/* base styles */

.navbar, .header, .menu, .dlmenu, .customers{
font-size: 16px
}
    
.navbar{
background-color: transparent;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
overflow: visible;
}

.header{
background-color: var(--bgcolor1);
width: 100%;
overflow-y: visible;
}

a{
text-decoration: none;
color: inherit;
}

.menu{
background-image: url('../images/customersbg.jpg');
background-size: 100%;
}

.dlmenu{
border-radius: 5px;
border: 0;
padding: 4px;
font-family: BigNoodle, sans-script;
color: var(--paragraphs);
text-shadow: 0 0 17px rgb(255, 255, 255, 0.7);
background-color: var(--bgcolor2)
}

.customers{
background-color: var(--bgcolor2)
}

.contact{
background-image: url('../images/footerbg.jpg');
background-size: 100%;
padding: 10px;
font-family: Overgrow;
color: var(--paragraphs);
text-shadow: 0 0 17px black;
}

.botleftul{
padding: 12px 0 0 19px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: var(--botnavs);
}

.botrightul{
padding-top: 10px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: var(--botnavs);
}

.botnavitm{
padding: 0 20px 0 0;
}

.boticons{
padding-right: 10px;
}

/* fonts */
@font-face{
font-family: Overgrow;
src: url('../fonts/Overgrow-Demo.otf');
}
  
@font-face{
font-family: BigNoodle;
src: url('../fonts/big_noodle_titling.ttf');
}
  
@font-face{
font-family: Accelerate;
src: url('../fonts/Acceleration&Reaction.ttf');
}

.navitm{
font-family: Overgrow, sans-script;
color: var(--headings);
text-shadow: 0 0 17px rgba(218, 112, 65, 0.9);
}

.squareh,.squarehv2  {
font-family: Overgrow, sans-script;
color: var(--headings);
text-shadow: 0 0 17px rgba(218, 112, 65, 0.9);
font-size: 2.5em;
}

.squaredesc, .squaredescv2 {
text-align: justify;
color: var(--paragraphs);
line-height: 0.9;
text-shadow: 0 0 17px rgba(255, 255, 255, 0.6);
font-family: BigNoodle, sans-script;
font-size: 1.2rem;
}

.squarehv2{
font-family: Overgrow, sans-script;
color: var(--headings);
text-shadow: 0 0 17px rgba(218, 112, 65, 0.9);
}
    
.squaredescv2{
color: var(--paragraphs);
text-shadow: 0 0 17px rgba(255, 255, 255, 0.6);
line-height: 1;
font-family: BigNoodle, sans-script;
}

.botnavitm{
font-family: Overgrow, sans-script;
color: var(--headings);
text-shadow: 0 0 17px rgb(218, 112, 65, 0.9);
}

.botleftul{
font-size: 0.9rem;
}

/* mobile styles */

.navbar     {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0;
margin: 0 auto 0 auto;
position: sticky;
top: 20px;
border: 0;
width: 0;
height: 0;
}

.navitm, .icons {
display: none;
}

.logo{
height: 200px;
margin: 0 0 5% 0;
padding: 4em 0 0 0;
}

.header{
padding: 8.5em 0 0 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 50vh;
max-height: 420px;
min-height: 400px;
}

.about{
margin: 15% 0 8% 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.squareh{
width: 85vw;
max-width: 540px;
}

.squaredesc{
width: 83vw;
max-width: 540px;
margin: 3% 0 0 0;
}

.pizza{
width: 90vw;
height: 30vh;
max-width: 400px;
}

.menu{
min-height: 140px;
height: 12vh;
display: flex;
justify-content: center;
align-items: center;
}

.dlmenu{
margin: 18% 0 0 0;
}

.customers{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.9em;
}

.squarehv2{
margin: 1.5% 0 0 0;
width: 83vw;
max-width: 540px;
width: 90vw;
padding-left: 0.2em;
}

.squaredescv2{
width: 83vw;
max-width: 540px;
padding: 0.5em;
}

.bottomnav{
display: flex;
margin-top: -58px;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
position: sticky;
bottom: 5px;
}

.botleftul{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
min-width: 150px;
max-width: 135px;
width: 30vw;
height: 2.8vh;
min-height: 25px;
}
  
.botrightul{
max-width: 120px;
min-width: 130px;
width: 30vw;
height: 3vh;
min-height: 28px;
}
  
.botnavitm{
padding: 0 1.7em 0 0;
margin: 0;
}

.boticons{
display: inline;
margin: 0;
padding: 0;
}

.boticonimgs  {
margin: 0 0 0 11%;
height: 20px;
width: 20px;
}

.contact{
display: flex;
justify-content: center;
padding: 1em auto;
}

/* small tablet styles */
@media screen and (min-width: 620px){
    .navbar, .header, .menu, .dlmenu, .customers{
        font-size: 16px;
        }
    .dlmenu{
    margin: 70px 0 0 0;
    }

/* large tablet styles */
@media screen and (min-width: 960px){
    body{
        font-size: 22px;
    }

    .navbar     {
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0;
    margin: 25px auto -85px auto;
    position: sticky;
    top: 19px;
    border: 1px solid transparent;
    width: 60vw;
    height: 2vh;
    border-radius: 5px;
    min-width: 615px;
    overflow: visible;
    }

    .navitm {
    display: inline;
    margin: 0 0 0 3vw;
      }
      
    .logo{
    height: 200px;
    padding: 0;
    }
      
    .icons  {
    display: inline;
    padding-right: 1em;
    }
      
    .iconimgs {
    display: inline;
    height: 20px;
    width: 20px;
    }

    .dlmenu{
        margin: 10% 0 0 0;
    }

    .bottomnav{
        display: none;
    }
}
}

/* desktop styles */
@media screen and (min-width: 1200px){
    body{
    font-size: 20px;
    }
    .about {
    margin: 140px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
        
    .squareh  {
    font-size: 3rem;
    width: 300px;
    }
        
    .squaredesc {
    margin: 0;
    width: 400px;
    font-size: 1.4rem;
    line-height: 0.9;
    }
        
    .pizza{
    width: 90vw;
    height: 40vh;
    max-width: 600px;
    }
        
    .menu  {
    height: 30vh;
    }
        
    .dlmenu{
    margin: 150px 0 0 0;
    height: 40px;
    width: 150px;
    }
        
    .customers{
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: flex-start;
    height: 500px;
 
    }
        
    .squarehv2  {
    margin-top: 85px;
    font-size: 3rem;
    width: 250px;
    height: 200px;
        }
        
    .squaredescv2{
    margin: 80px 0 0 0;
    height: 200px;
    width: 600px;
    text-align: justify;
    font-size: 1.4rem;
    }
        
    .contact{
    background-position-y: 60%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}